<!doctype html/>
<html>
    <head>
        <title>Flask App -Celebrities</title>
        <link type="text/css" rel="stylesheet" href="static/celebs_stylesheet.css"/>
    </head>
        <body>
            <table border=5>
                {% for row in rows %}
                <tr>
                    <td><b>Photo</b></td> <td><img height="200" width="200" src="{{row[5]}}"/></td>
                </tr>
                <tr>
                    <td><b>Celebrity ID</b></td> <td>{{row[0]}}</td>
                </tr>
                <tr>
                    <td><b>First Name</b></td> <td>{{row[1]}}</td>
                </tr>
                <tr>
                    <td><b>Last Name</b></td> <td>{{row[2]}}</td>
                </tr>
                <tr>
                    <td><b>Age</b></td> <td>{{row[3]}}</td>
                </tr>
                <tr>
                    <td><b>Email</b></td> <td>{{row[4]}}</td>
                </tr>           <tr>
                    <td><b>Bio</b></td> <td>{{row[6]}}</td>
                </tr>
                <tr><td colspan=2><br></td></tr>
                {% endfor %}

            </table>
        </body>
</html>
